.travelmap {
  height: 500px;
}

#travelmap-block-wrapper {
  background-color: #323232;
}

#travelmap_wrapper {
  float: left;
  width: 69%;
  height: 500px;
  border-top: 5px solid #323232;
  border-bottom: 5px solid #323232;
  border-left: 5px solid #323232;
}

#all_travelmap_locations {
  float: left;
  width: 30%;
  /*margin: 0 0 0 20px;*/
  -moz-box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.75);
  box-shadow: -3px 0px 3px rgba(50, 50, 50, 0.75);
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#323232')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#323232');
  position: relative;
  background-color: #323232;
  min-height: 510px;
}

#all_travelmap_locations .form-submit {
  font-family:Arial,Verdana,Tahoma;
  padding:4px 8px 4px 8px;
  font-size:13px;
  font-weight:bold;
  cursor:pointer;
  background:#225489;
  color:#fff;
  border:1px solid #003c6e;
  margin: 10px 0 0 10px;
}

#all_travelmap_locations .form-submit:hover {
  background:#003c6e;
  border:1px solid #225489;
}

#travelmap-location-sort {
  margin: 0;
}

#travelmap-location-sort th {
  background-color: #323232;
  border: none;
  color: #FFF;
  text-transform: uppercase;
}

#travelmap-location-sort tr {
  background-color:#3c3c3c;
  color: #FFF;
  border-bottom: 1px solid #323232;
}

#travelmap-location-sort tr:hover {
  background-color: #5a5a5a;
}

.travelmap_title {
  cursor: pointer;
}

.travelmap-control-up {
  height: 12px;
  width: 20px;
  background: url('../images/travelmap-control-up.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-down {
  height: 12px;
  width: 20px;
  background: url('../images/travelmap-control-down.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-left {
  height: 20px;
  width: 12px;
  background: url('../images/travelmap-control-left.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-right {
  height: 20px;
  width: 12px;
  background: url('../images/travelmap-control-right.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-zoomin {
  height: 20px;
  width: 20px;
  background: url('../images/travelmap-control-zoomin.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-zoomout {
  height: 20px;
  width: 20px;
  background: url('../images/travelmap-control-zoomout.png') no-repeat;
  cursor: pointer;
}

.travelmap-control-background {
  height: 36px;
  width: 36px;
  background: url('../images/travelmap-control-background.png') no-repeat;
}

.travelmap_marker {
  background: url('../images/travelmap_marker.png');
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 9px;
  font-weight: bold;
  height: 37px;
  margin: 0 0 0 -16px;
  width: 32px;
  color: #FFF;
  cursor: pointer;
}

.travelmap_marker_content {
  padding: 7px 0 0 0;
  text-align: center;
}

.travelmap_marker_title {
    display: none;
    position: absolute;
}

.travelmap_node_content {
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #FFF;
  color: #444;
  zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
  width: 400px;
  margin: 2px 0 0 -200px;
  font-size: 11px;
}

.travelmap_node_content h3 {
  font-weight: bold;
}

.travelmap_node_content_active {
  display: block;
}

.travelmap_marker_title_active {
  display: block;
  padding: 3px 5px 3px 5px;
  background-color: #444;
  color: #FFF;
  zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
  margin: -34px 0 0 21px;
  white-space: nowrap;
}

.travelmap_node_content_close {
  cursor: pointer;
  float: right;
  margin: -35px -5px 0 0;
  background-color: white;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}